.section-contact {
  background-image: url(../images/img.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  &__text {
    text-align: center;
    @include flex(flex-start, stretch, column);
    margin-bottom: 50px;
  }
  &__title {
    @include text($H850, 700);
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 65px;
    @media screen and (min-width: $screen-tablet) {
      @include text($H900, 700);
      padding-top: 100px;
      padding-bottom: 50px;
      line-height: 65px;
    }
  }
  &__description {
    max-width: 250px;
    margin: 0 auto;
    @media screen and (min-width: $screen-tablet) {
      @include text($H200);
      max-width: 350px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__main {
    @include flex(space-between, stretch, column-reverse);
    text-align: center;
    @media screen and (min-width: $screen-tablet) {
      @include flex(space-between, stretch, row);
      text-align: left;
    }
  }
  &__info {
    padding-bottom: 50px;
    @media screen and (min-width: $screen-tablet) {
      flex-grow: 1;
      padding-left: 12.2%;
    }
  }
  &__button {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 25px;
    @media screen and (min-width: $screen-tablet) {
      width: 100%;
      margin-bottom: 120px;
      visibility: hidden;
      opacity: 0;
    }
  }
  &__form {
    &:valid + * {
      visibility: visible;
      opacity: 1;
    }
  }
}
