<section class="section-subscribe">
    <div class="container section-subscribe__container">
        <h2 class="section-subscribe__title">Subscribe To Us</h2>
        <p class="section-subscribe__text">Dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam.
        </p>
        <form class="section-subscribe__form" action="">
            <input class="section-subscribe__input" type="text">
            <a class="button button--subscribe section-subscribe__button" href="">SUBSCRIBE</a>
        </form>
    </div>
</section>